<div class="card m-4">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      @if (!connected) {
        <li class="nav-item me-2">
          <input [(ngModel)]="message.username" type="form-control" placeholder="Tu Username..." name="username">
        </li>
        <li class="nav-item">
          <button class="btn btn-success" type="button" (click)="connect()" [disabled]="!message.username">
            Conectar
          </button>
        </li>
      } @else {
        <li class="nav-item">
          <button class="btn btn-warning" type="button" (click)="disconnect()">
            Desconectar chat
          </button>
        </li>
      }
    </ul>
  </div>
  @if (connected) {
    <div class="card-body" style="overflow-y: scroll; height: 360px">
      <ul class="list-group list-flush">
        @for (message of messages; track message) {
          <li class="list-group-item list-group-item-light">
            @if (message.type == 'NEW_USER') {
              {{ message.date | date: 'shortTime' }} {{ message.text }} conectado &#64;
              <span [ngStyle]="{'color': message.color}">{{ message.username }}</span>
            } @else if (message.type == 'MESSAGE') {
              {{ message.date | date: 'shortTime' }}
              <span [ngStyle]="{'color': message.color}">
                {{ message.username }}</span> dice: <br> {{ message.text }}
            }
          </li>
        }
      </ul>
    </div>
    <div class="card-footer">
      <form (ngSubmit)="onSendMessage()">
        <div class="row">
          <div class="col">
            <input class="form-control"
                   name="text"
                   [(ngModel)]="message.text"
                   placeholder="Escribe un mensaje"
                   (keyup)="onWritingEvent()"
            />
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">
              Enviar
            </button>
          </div>
        </div>
      </form>
      <div>{{ writing }}</div>
    </div>
  }
</div>
